@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
* {
    backface-visibility: hidden;
}

.hovercontainer1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3rem;
    padding: 4rem 4rem;
    background-image: linear-gradient(90deg, #fce39f9e 0%, #fca39f9e 100%);
}

.hovercontainer1 .wrapper {
    transition: 0.25s;
}

.card1:hover {
    opacity: 0.3;
}

.hovercontainer1 .wrapper:before {
    content: '';
    left: 0;
    top: 0;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    opacity: 0;
    border: 2px solid #ece9e6;
    position: absolute;
    z-index: -1;
    transition: 0.5s 0.05s;
}

.hovercontainer1 .wrapper:hover:before {
    opacity: 1;
}

.hovercontainer1 .card1.card:after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    /* color: ; */
    background-blend-mode: screen;
    /* transform: skew(10deg) scale(1.2); */
    transition: 0.25s;
}

.hovercontainer1 .wrapper:hover .card {
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.hovercontainer1 .wrapper:hover .card .fal {
    bottom: 4rem;
    background-color: transparent;
}

.hovercontainer1 .card {
    padding: 2rem;
    position: relative;
    overflow: hidden;
}

.hovercontainer1 .card:after {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.hovercontainer1 .card .fal {
    position: absolute;
    bottom: -1rem;
    right: 3rem;
    padding: 1rem;
    color: #000000;
    /* font-size: 1.5rem; */
    z-index: 1;
    /* transform: skew(10deg) translateY(50%); */
    text-align: center;
    transition: 0.25s;
}

.card1 {
    height: 23rem;
    /* border-top: 20px solid #8b4513;
    border-bottom: 20px solid #8b4513;
    border-left: 20px solid #8b4513;
    border-right: 20px solid #8b4513; */
    border: 20px solid #c07572;
    background-color: #000000;
    border-style: ridge;
    /* background-image: linear-gradient(315deg, #000000 0%, #7f8c8d 74%); */
    background-size: cover;
    /* width: 100%;
height: 100%; */
    opacity: 0.8;
}

.card1 {
    background-image: url('../images/card-images/card.svg');
}

.card1:hover {
    height: 23rem;
    border-top: 25px solid white;
    border-bottom: 25px solid white;
    border-left: 15px solid white;
    border-right: 15px solid white;
    /* background-color: #000000;
*/
    background-color: black;
    /* background-image: linear-gradient(315deg, #7f8c8d 0%, #000000 74%); */
    opacity: 1;
}

.headText {
    font-family: 'Staatliches', cursive;
    position: absolute;
    top: 50px;
    left: 50px;
    line-height: 40px;
    color: white;
    font-size: 30px;
    mix-blend-mode: exclusion;
    background-blend-mode: multiply;
}

.card:hover .headText {
    color: white;
    mix-blend-mode: exclusion;
    opacity: 1;
    font-size: 39px;
    /* text-shadow: 12px 12px #ff0000; */
}

.headUnderline {
    background-color: white;
    width: 10px;
    height: 50px;
    position: absolute;
    left: 10%;
    top: 5%;
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .hovercontainer1 {
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width: 600px) and (max-width: 1000px) {
    .hovercontainer1 {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (min-width: 1000px) {
    .hovercontainer1 {
        grid-template-columns: 1fr 1fr 1fr;
    }
}